<div id="container" class="row">
  <div class="col-sm-4 d-none d-md-block"> <img src="../../assets/LogoWithoutText.svg"></div>
  <div class="col-sm-12 col-md-4"> 
    <h1>&copy; Serenite</h1> 
    <br>
    <span>Any and all trademarked or copyrighted material belongs to the owner respectfully. Please go support the offcial releases.</span>
    <br>
    <span>All animation code and animated progress svg's go to the rightful owners, <a href="https://github.com/tinesoft">Tinesoft</a> and <a href="https://github.com/bootsoon">bootsoon</a></span>
  </div>
  <div id="sm" class="col-sm-4  d-sm-none d-md-block"> 
    <a href="https://www.twitter.com/serenite4k"><img src="../../assets/03-twitter.svg"></a>
     <a href="https://www.instagram.com/serenite4k"><img src="../../assets/38-instagram.svg"></a> 
     <a href="https://www.github.com/Serenite4k"><img src="../../assets/41-github.svg"></a>
   <a href="mailto:serenite4k@gmail.com"><img src="../../assets/61-google-inbox.svg"></a>
    
  </div>
</div>