img{
    width: 100px;
    margin-left: 20%;
    
}


ul{
    display: inline-block;
    padding: none;
}

li{
    display: inline;
    margin: 5px;
    list-style-type: none;
    color: #0099ff;
    font-size: 18px; 
    white-space: nowrap;
}

li:hover{
    color: #077dcc
}

#container{
    padding: 10px 0px 10px 0px;
    background-color: #464646;
    text-align: center;
    position: sticky fixed;
}
