<div class="row">

  <div id="introduction" class="col-sm-12">
    <img class="scale-up-center" src="../../assets/LogoDarkTxt.svg">
    <br>
   <button class="bounce-top" [ngx-scroll-to]="'#About'">Deep Dive</button>
  </div>

  <div id="About" class="row col-sm-12">

    <div class="aboutsec col-md-5" data-aos="scale-up-center"><img src="../../assets/round-person-24px.svg"></div>

    <div class="aboutsec col-md-7" data-aos="scale-up-center"><h1>Who am I</h1> 
      <span>My real name is Devin, though im also known as Serenite.
        <br> I am a freelance junior web developer.</span>
    </div>





    <div class="aboutsec col-md-5" data-aos="scale-up-center"><img src="../../assets/round-desktop_mac-24px.svg"></div>

    <div class="aboutsec col-md-7"data-aos="scale-up-center" ><h1>My Specialty</h1>
      <span>I design websites and code them from the ground up.<br> I also do mockup designs in Adobe XD for clients<br> I code for fun and sometimes profit.</span>
    </div>


      <div class="aboutsec col-md-5" data-aos="scale-up-center"><img src="../../assets/round-done-24px.svg"></div>

  <div class="aboutsec col-md-7" data-aos="scale-up-center"><h1>My Workflow</h1>
    <span>I hate unfinished and sluggish products. <br>I make sure everything works in an organized, clean manner.</span>
  </div>

  </div>
    

<div id="Software" class="col-sm-12 row">
    <div class="col-sm-12"><h2>I use professional software to get the best quality products</h2><br><h3>Such as</h3></div>
    <div class="col-sm-4"data-aos="bt"><img src="../../assets/visual-studio-code.svg"><h4>Visual Studio Code</h4></div>
    <div class="col-sm-4"data-aos="bt" data-aos-delay="200"><img src="../../assets/adobe-xd.svg"><h4>Adobe XD</h4></div>
    <div class="col-sm-4"data-aos="bt" data-aos-delay="300"><img src="../../assets/github-1.svg"><h4>Github</h4></div>
    
  </div>

  <div id="contact" class="col-sm-12">
    <h1>Inquries</h1>
    <span>Contact me, I'll try my best to get back to you ASAP</span>
    <br>
    <button style="margin-top: 20px;">Contact Me</button>
  </div>
  

  
</div>