<div class="row">

  <div id="introduction" class="col-sm-12">
    <img class="scale-up-center" src="../../assets/LogoDarkTxt.svg">
    <br>
   <button class="bounce-top" [ngx-scroll-to]="'#About'">Deep Dive</button>
  </div>

  <div id="About" class="row col-sm-12"[ngsReveal]="{ reset:true, delay:500}">

    <div class="definer col-sm-12 row">
    <div class="aboutsec col-md-5" ><img src="../../assets/round-person-24px.svg"></div>

    <div class="aboutsec col-md-7" ><h1>Who am I</h1> 
      <span>My real name is Devin, though im also known as Serenite.
        <br> I am a freelance junior web developer.</span>
    </div>
</div>



    <div class="definer row col-sm-12"[ngsReveal]="{ reset:true, delay:500}">
    <div class="aboutsec col-md-5" ><img src="../../assets/round-desktop_mac-24px.svg"></div>

    <div class="aboutsec col-md-7"><h1>My Specialty</h1>
      <span>I design websites and code them from the ground up.<br> I also do mockup designs in Adobe XD for clients<br> I code for fun and sometimes profit.</span>
    </div>
</div>


    <div class="definer row col-sm-12"[ngsReveal]="{ reset:true, delay:500}">
      <div class="aboutsec col-md-5"><img src="../../assets/round-done-24px.svg"></div>

  <div class="aboutsec col-md-7" ><h1>My Workflow</h1>
    <span>I hate unfinished and sluggish products. <br>I make sure everything works in an organized, clean manner.</span>
  </div>
</div>
  </div>
    

<div id="Software" class="col-sm-12 row" [ngsReveal]="{ reset:true, delay:300}">
    <div style="padding: 15% 0% 0% 0px"class="col-sm-6">
      <h2>I use a variety of tools to get the best quality products</h2><br><h3>Such as</h3>
    </div>
    <div class="col-sm-6 row">
    <div class="col-sm-6" [ngsReveal]="{ reset:true, delay:700}"><img src="../../assets/visual-studio-code.svg"><h4>Visual Studio Code</h4></div>
    <div class="col-sm-6" [ngsReveal]="{ reset:true, delay:800}"><img src="../../assets/adobe-xd.svg"><h4>Adobe XD</h4></div>
    <div class="col-sm-6" [ngsReveal]="{ reset:true, delay:900}"><img src="../../assets/github-1.svg"><h4>Github</h4></div>
    <div class="col-sm-6" [ngsReveal]="{ reset:true, delay:1000}"><img src="../../assets/google-drive.svg"><h4>Google Drive</h4></div>
    <div class="col-sm-6" [ngsReveal]="{ reset:true, delay:1100}"><img src="../../assets/discord.svg"><h4>Discord</h4></div>
    <div class="col-sm-6" [ngsReveal]="{ reset:true, delay:1100}"><img src="../../assets/stackoverflow-com.svg"><h4>StackOverflow</h4></div>
    </div>
  </div>

  <div id="contact" class="col-sm-12">
    <h1 [ngsReveal]="{ reset:true, delay:400}">Inquries</h1>
    <span [ngsReveal]="{ reset:true, delay:400}">Contact me, I'll try my best to get back to you ASAP</span>
    <br>
    <button [ngsReveal]="{ reset:true, delay:600}"style="margin-top: 20px;" routerLink="/contact">Contact Me</button>
  </div>
  

  
</div>